body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chat {
  margin: 20px;
  width: 800px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 5px;
}

.chatselect {
  height: 100%;
  width: 200px;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatselect>div {
  border-right: 1px solid grey;
  height: 100%;
}

.chatselect>div>div {
  cursor: pointer;
  margin-top: 1px;
  margin-left: 1px;
  padding: 3px;
  width: 180px;
  border-bottom: 1px solid grey;
  transition: background-color 0.5s;
  transition: font-size 0.5s;
}

.chatselect>div>div:last-child {
  border-bottom: none;
}

.chatselect>div>div:hover {
  background-color: lightgray;
  font-size: larger;
}

.chatselect>div>div>p {
  overflow: hidden;
  max-width: inherit;
  text-overflow: ellipsis;
}

.activechat {
  padding: 20px;
  width: 70%;
  float: right;
}

.chatbox {
  padding: 5px;
  overflow-y: scroll;
  height: 300px;
  border: 1px solid grey;
}

.chatbox>p {
  float: left;
  clear: both;
  border: 0px solid;
  border-radius: 30px;
  max-width: 70%;
  word-wrap: break-word;
  background-color: darkgray;
  padding: 10px;
  margin: 5px;
}

p.ownText {
  float: right;
  background-color: rgb(68, 162, 194);
}

.messagebox {
  margin: 20px;
}

.messagebox>button {
  cursor: pointer;
}

.messagebox>input {
  width: 84%;
}